@import "../../mixins.scss";

.login {
	height: 100vh;
	background-color: rgb(193, 190, 225);
	display: flex;
	align-items: center;
	justify-content: center;

	.card {
		width: 50%;
		display: flex;
		border-radius: 10px;
		background-color: white;
		min-height: 35rem;
		overflow: hidden;
		@include tablet-landscape {
			width: 80%;
		}
		@include tablet {
			width: 70%;
		}
		@include mobile {
			width: 80%;
		}

		.left {
			flex: 1;
			background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
				url("../../../public/images/login_cover.jpeg") center;
			background-size: cover;
			padding: 3rem;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			color: white;

			@include tablet {
				display: none;
			}

			h2 {
				font-size: 6rem;
				line-height: 6rem;
			}

			span {
				font-size: 0.8rem;
			}

			button {
				width: 50%;
				padding: 0.65rem;
				border: none;
				background-color: white;
				color: rebeccapurple;
				font-weight: bold;
				cursor: pointer;
			}
		}

		.right {
			flex: 1;
			padding: 3rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			h1 {
				color: #555;
				margin-bottom: 3rem;
				@include tablet {
					text-align: center;
					font-size: 2.5rem;
				}
			}

			form {
				display: flex;
				flex-direction: column;
				gap: 2rem;

				input {
					border: none;
					border-bottom: 1px solid lightgrey;
					padding: 1.25rem 0.625rem;
					@include tablet {
						padding: 1rem 0.625rem;
					}
				}

				button {
					width: 50%;
					padding: 0.65rem;
					border: none;
					background-color: #938eef;
					color: white;
					font-weight: bold;
					cursor: pointer;
					transition: all 0.3s ease;

					&:hover,
					&:active {
						background-color: #736fd1;
					}

					@include tablet {
						width: 100%;
						font-size: 1.2rem;
					}
				}
			}

			.tablet-only {
				display: none;

				@include tablet {
					display: block;
				}

				button {
					width: 100%;
					padding: 0.65rem;
					border: 1px solid #938eef;
					background-color: white;
					color: #938eef;
					font-weight: bold;
					margin-top: 1rem;
					cursor: pointer;
					span:first-child {
						font-size: 0.8rem;
						text-align: center;
						color: rgb(88, 87, 87);
						font-weight: normal;
					}
					transition: all 0.5s ease;
					&:hover,
					&:active {
						color: #736fd1;
						border-color: #736fd1;
					}
				}
			}
		}
	}
}
