@import "../../style.css";
@import "../../mixins.scss";

.left-bar {
	@include mobile {
		display: none;
	}
	flex: 2;
	position: sticky;
	top: 4.25rem;
	height: calc(100vh - 4.25rem);
	overflow: scroll;
	background-color: var(--bg);

	&::-webkit-scrollbar {
		display: none;
	}

	.container {
		.main,
		.shortcuts {
			border-bottom: 1px solid var(--border);
		}

		.main,
		.shortcuts,
		.others {
			h4 {
				font-weight: 400;
				color: var(--textColorSoft);
				font-size: 1.1rem;
				padding: 1rem 1rem 0.7rem 1rem;
			}

			ul {
				display: flex;
				flex-direction: column;
				list-style: none;
				padding: 0;
				margin: 0;
			}

			.item {
				display: flex;
				align-items: center;
				gap: 0.6rem;
				padding: 0.7rem 1rem;
				cursor: pointer;
				transition: all 0.2s ease-out;

				&:hover {
					background-color: var(--bgSoft);
				}

				img {
					width: 1.25rem;
					height: 1.25rem;
				}

				span {
					font-size: 0.8rem;
					color: var(--textColorSoft);
				}
			}

			.user {
				padding-top: 1rem;
				img {
					border-radius: 50%;
					object-fit: cover;
				}
			}
		}
	}
}
