@import "../../style.css";

.left-bar {
	flex: 2;
	position: sticky;
	top: 70px;
	height: calc(100vh - 70px);
	overflow: scroll;
	background-color: var(--bg);

	&::-webkit-scrollbar {
		display: none;
	}

	.container {
		.main,
		.shortcuts {
			border-bottom: 1px solid var(--border);
		}

		.main,
		.shortcuts,
		.others {
			h4 {
				font-weight: 400;
				color: var(--textColorSoft);
				font-size: 13px;
				padding: 15px 15px 10px 15px;
			}

			ul {
				display: flex;
				flex-direction: column;
				list-style: none;
				padding: 0;
				margin: 0;
			}

			.item {
				display: flex;
				align-items: center;
				gap: 10px;
				padding: 10px 15px;
				cursor: pointer;
				transition: all 0.2s ease-out;

				&:hover {
					background-color: var(--bgSoft);
				}

				img {
					width: 20px;
					height: 20px;
				}

				span {
					font-size: 13px;
					color: var(--textColorSoft);
				}
			}

			.user {
				padding-top: 15px;
				img {
					border-radius: 50%;
					object-fit: cover;
				}
			}
		}
	}
}
