@import "../../style.css";
@import "../../mixins.scss";

.stories {
	display: flex;
	gap: 10px;
	margin-bottom: 30px;
	@include mobile {
		margin-top: 5px;
		margin-bottom: 20px;
		justify-content: space-between;
	}

	.user-story {
		button {
			border: none;
			outline: none;
			background-color: #5271ff;
			border-radius: 50%;
			padding: 3px;
			position: absolute;
			bottom: 30px;
			left: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			@include mobile {
				right: 0;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				padding: 0;
				width: 30px;
				height: 30px;
			}

			.add-icon {
				color: white;
				font-size: 16px;
				font-weight: 700;
				@include mobile {
					font-size: 18px;
				}
			}
		}
	}

	.story,
	.user-story {
		flex: 1;
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		height: 200px;
		@include tablet {
			height: 150px;
		}
		@include mobile {
			flex: none;
			height: 60px;
			width: 60px;
		}

		img {
			border-radius: 10px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include mobile {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				margin: auto;
			}
		}

		span {
			position: absolute;
			z-index: 3;
			bottom: 10px;
			left: 10px;
			color: white;
			font-size: 14px;
			@include mobile {
				display: none;
			}
		}
	}

	ul {
		list-style: none;
		display: flex;
		gap: 10px;
	}
}
