@import "../../style.css";
@import "../../mixins.scss";

.profile {
	background-color: var(--bgSoft);
	min-height: calc(100vh - 4.5rem);

	.profile-header {
		width: 100%;
		height: 18.5rem;
		position: relative;
		@include mobile {
			height: 12.5rem;
		}

		.cover {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.header-avatar {
			position: absolute;
			z-index: 50;
			left: 0;
			right: 0;
			margin: auto;
			top: 10.5rem;
			width: 12.5rem;
			height: 12.5rem;
			border-radius: 50%;
			object-fit: cover;
			@include mobile {
				width: 10.5rem;
				height: 10.5rem;
				top: 5.4rem;
			}
		}
	}

	.profile-container {
		padding: 1.25rem 4.5rem;
		@include tablet {
			padding: 1.25rem;
		}
		@include mobile {
			padding: 0.625rem;
		}

		.user-info {
			display: flex;
			align-items: center;
			padding: 4.5rem 2rem;
			margin-bottom: 2rem;
			height: 6rem;
			border-radius: 15px;
			background-color: var(--bg);
			box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
			@include mobile {
				padding: 0.625rem;
				height: 30vh;
				margin-top: 2rem;
				flex-direction: column;
			}

			.left {
				flex: 1;
				display: flex;
				align-items: center;
				gap: 0.4rem;
				color: var(--textColorSoft);
				@include tablet {
					flex-wrap: wrap;
				}
				@include mobile {
					gap: 1.25rem;
				}

				a {
					color: var(--textColorSoft);
					.icon {
						font-size: 1.5rem;
					}
				}
			}

			.center {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1rem;
				width: 50%;
				color: var(--textColor);

				.name {
					font-weight: 500;
					font-size: 1.75rem;
				}

				.contact {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					max-width: 12.5rem;

					.location,
					.web {
						display: flex;
						align-items: center;
						gap: 0.25rem;

						.icon {
							font-size: 1.1rem;
						}

						span {
							font-size: 0.75rem;
						}
					}
				}

				button {
					padding: 0.5rem 1.5rem;
					color: white;
					background-color: #5271ff;
					font-size: 0.9rem;
					border: none;
					border-radius: 4px;
					cursor: pointer;
				}
			}

			.right {
				flex: 1;
				justify-content: flex-end;
				display: flex;
				align-items: center;
				gap: 0.3rem;
				color: var(--textColorSoft);

				.icon {
					font-size: 1.15rem;
				}
			}
		}
	}
}
