@import "../../mixins.scss";

form {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	input {
		border: none;
		border-bottom: 1px solid lightgrey;
		padding: 1.25rem 0.625rem;
		@include tablet {
			padding: 1rem 0.625rem;
		}
	}

	.error {
		font-size: 0.8rem;
		color: crimson;
		padding-left: 0.5rem;
		padding-top: 0.25rem;
	}

	button {
		width: 50%;
		padding: 0.65rem;
		border: none;
		background-color: #938eef;
		color: white;
		font-weight: bold;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover,
		&:active {
			background-color: #736fd1;
		}

		@include tablet {
			width: 100%;
			font-size: 1.2rem;
		}
	}
}
