@import "../../style.css";
@import "../../mixins.scss";

.home {
	background-color: var(--bgSoft);
	min-height: calc(100vh - 70px);
	padding: 1.25rem 4rem;
	color: var(--textColor);
	@include tablet {
		padding: 1.25rem;
	}
	@include mobile {
		padding: 0.625rem;
		box-sizing: border-box;
	}
}
