@import "../../../style.css";
@import "../../../mixins.scss";

.post {
	background-color: var(--bg);
	padding: 20px;
	@include mobile {
		padding: 10px;
	}
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.left {
			display: flex;
			align-items: center;
			gap: 10px;

			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				object-fit: cover;
			}

			span {
				display: flex;
				flex-direction: column;
				gap: 4px;

				.name {
					color: var(--textColor);
					font-size: 16px;
					font-weight: 400;
					text-decoration: none;
				}

				.last-seen {
					color: var(--textColorSoft);
					font-size: 13px;
					font-weight: 400;
				}
			}
		}

		.right {
			color: var(--textColorSoft);
		}
	}

	.body {
		display: flex;
		flex-direction: column;
		gap: 10px;
		p {
			color: var(--textColor);
		}

		img {
			width: 100%;
			height: 300px;
			@include mobile {
				height: 200px;
			}
			object-fit: cover;
			margin: auto;
			border-radius: 3px;
		}
	}

	.footer {
		display: flex;
		align-items: center;
		gap: 15px;

		div {
			display: flex;
			align-items: center;
			gap: 5px;
			color: var(--textColor);
			cursor: pointer;

			.icon {
				font-size: 18px;
			}

			.like {
				font-size: 18px;
				color: red;
			}

			span {
				font-size: 14px;
				font-weight: 400;
			}
		}
	}

	.comments {
		display: flex;
		flex-direction: column;
		gap: 20px;
		@include mobile {
			width: 100%;
		}

		.new-comment {
			display: flex;
			align-items: center;
			gap: 20px;
			@include mobile {
				width: 100%;
				gap: 10px;
				justify-content: space-between;
			}

			img {
				width: 35px;
				height: 35px;
				border-radius: 50%;
				object-fit: cover;
				@include mobile {
					width: 30px;
					height: 30px;
				}
			}

			form {
				width: 90%;
				display: flex;
				align-items: center;
				gap: 10px;
				@include mobile {
					justify-content: space-between;
				}

				input {
					flex: 11;
					padding: 5px;
					border: 1px solid var(--border);
					background-color: transparent;
					color: var(--textColor);
					width: 300px;
					border-radius: 3px;
					@include mobile {
						flex: none;
						width: 200px;
					}

					&::placeholder {
						font-size: 12px;
					}
				}

				button {
					flex: 1;
					padding: 5px;
					color: white;
					background-color: #5271ff;
					font-size: 13px;
					border: none;
					border-radius: 2px;
					cursor: pointer;
					@include mobile {
						font-size: 12px;
						flex: none;
					}
				}
			}
		}

		.comment {
			display: flex;
			gap: 20px;
			@include mobile {
				width: 100%;
				gap: 10px;
				justify-content: space-between;
			}

			img {
				flex: 1;
				max-width: 35px;
				height: 35px;
				border-radius: 50%;
				object-fit: cover;
				@include mobile {
					width: 30px;
					height: 30px;
					flex: none;
				}
			}

			div {
				flex: 10;
				@include mobile {
					flex: 6;
				}

				.name {
					color: var(--textColor);
					font-weight: 500;
					@include mobile {
						font-size: 16px;
					}
				}

				.comment-text {
					color: var(--textColorSoft);
					font-size: 14px;
					overflow-wrap: normal;
					@include mobile {
						font-size: 12px;
					}
				}
			}

			.date {
				flex: 2;
				font-size: 10px;
				color: var(--textColorSoft);
				align-self: center;
				@include mobile {
					flex: none;
					font-size: 9px;
				}
			}
		}
	}
}
