@import "../../style.css";
@import "../../mixins.scss";

.navbar {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: var(--bg);
	padding: 0.625rem 1.25rem;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--border);

	.left {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		gap: 1rem;

		@include mobile {
			justify-content: space-between;
			gap: 2rem;
		}

		.logo {
			font-weight: bold;
			font-size: 1.5rem;
			color: var(--logo);
			@include mobile {
				font-size: 1.25rem;
			}
		}

		.icon {
			font-size: 1.25rem;
			color: var(--textColor);
		}

		.logout-icon,
		.theme-icon {
			position: relative;
		}

		.logout-icon:before,
		.theme-icon:before {
			content: attr(data-hover);
			visibility: hidden;
			opacity: 0;
			background-color: var(--bgSoft);
			color: var(--textColor);
			font-size: 0.9rem;
			letter-spacing: 0.01rem;
			text-align: center;
			border-radius: 5px;
			padding: 0.3rem 0.6rem;
			transition: opacity 0.5s ease-in-out;
			position: absolute;
			z-index: 1;
			left: 0;
			top: 110%;
		}

		.logout-icon:hover:before,
		.theme-icon:hover:before {
			opacity: 1;
			visibility: visible;
		}

		.search {
			display: flex;
			align-items: center;
			gap: 0.625rem;
			border: 1px solid var(--border);
			padding: 0.3rem;
			border-radius: 5px;

			.desktop-search {
				border: none;
				outline: none;
				width: 30rem;
				background: transparent;
				color: var(--textColor);
				@include tablet {
					width: 30vw;
				}
				@include mobile {
					display: none;
				}
			}

			.mobile-search {
				display: none;
				border: none;
				outline: none;
				width: 100%;
				background: var(--bg);
				color: var(--textColor);
				padding: 0.625rem;
				position: absolute;
				top: 4.25rem;
				left: 0;
				@include mobile {
					display: block;
				}
			}
		}
	}

	.right {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		gap: 1rem;
		@include tablet {
			gap: 0.625rem;
		}
		@include mobile {
			display: none;
		}

		nav {
			ul {
				list-style: none;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				gap: 1rem;
				.icon {
					font-size: 1.25rem;
					color: var(--textColor);
				}
			}
		}

		.user {
			display: flex;
			align-items: center;
			gap: 0.625rem;
			font-weight: 500;
			color: var(--textColor);
			@include tablet {
				display: none;
			}

			img {
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
				object-fit: cover;
			}
		}
	}
}
