@import "../../style.css";
@import "../../mixins.scss";
.comments {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	@include mobile {
		width: 100%;
	}

	.new-comment {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		@include mobile {
			width: 100%;
			gap: 0.625rem;
			justify-content: space-between;
		}

		img {
			width: 2.2rem;
			height: 2.2rem;
			border-radius: 50%;
			object-fit: cover;
			@include mobile {
				width: 1.9rem;
				height: 1.9rem;
			}
		}

		form {
			width: 90%;
			display: flex;
			align-items: center;
			gap: 0.625rem;
			@include mobile {
				justify-content: space-between;
			}

			input {
				flex: 11;
				padding: 5px;
				border: 1px solid var(--border);
				background-color: transparent;
				color: var(--textColor);
				width: 19rem;
				border-radius: 3px;
				@include mobile {
					flex: none;
					width: 14rem;
				}

				&::placeholder {
					font-size: 0.75rem;
				}
			}

			button {
				flex: 1;
				padding: 5px;
				color: white;
				background-color: #5271ff;
				font-size: 0.8rem;
				border: none;
				border-radius: 2px;
				cursor: pointer;
				@include mobile {
					font-size: 0.75rem;
					flex: none;
				}
			}
		}
	}

	.comment {
		display: flex;
		gap: 1.5rem;
		@include mobile {
			width: 100%;
			gap: 0.6rem;
			justify-content: space-between;
		}

		img {
			flex: 1;
			max-width: 2.25rem;
			height: 2.25rem;
			border-radius: 50%;
			object-fit: cover;
			@include mobile {
				width: 2rem;
				height: 2rem;
				flex: none;
			}
		}

		div {
			flex: 10;
			@include mobile {
				flex: 6;
			}

			.name {
				color: var(--textColor);
				font-weight: 500;
				@include mobile {
					font-size: 1rem;
				}
			}

			.comment-text {
				color: var(--textColorSoft);
				font-size: 0.875rem;
				overflow-wrap: normal;
				@include mobile {
					font-size: 0.75rem;
				}
			}
		}

		.date {
			flex: 2;
			font-size: 0.625rem;
			color: var(--textColorSoft);
			align-self: center;
			@include mobile {
				flex: none;
				font-size: 0.5rem;
			}
		}
	}
}
