:root {
	--textColor: #111;
	--textColorSoft: #555;
	--bg: white;
	--bgSoft: #f6f3f3;
	--border: lightgray;
	--logo: darkblue;
}

.dark {
	--textColor: whitesmoke;
	--textColorSoft: lightgray;
	--bg: #222;
	--bgSoft: #333;
	--border: #444;
	--logo: white;
}

body,
* {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}
