@import "../../style.css";
@import "../../mixins.scss";

.right-bar {
	@include tablet {
		display: none;
	}
	@include mobile {
		display: none;
	}

	flex: 3;
	position: sticky;
	top: 70px;
	height: calc(100vh - 70px);
	overflow: scroll;
	background-color: var(--bgSoft);

	&::-webkit-scrollbar {
		display: none;
	}

	.container {
		margin: 20px;
		display: flex;
		flex-direction: column;
		gap: 15px;

		.right-bar-section {
			padding: 20px;
			display: flex;
			flex-direction: column;
			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.048);
			border-radius: 2px;
			background-color: var(--bg);

			h3 {
				font-size: 13px;
				color: var(--textColorSoft);
				margin-bottom: 15px;
				font-weight: normal;
			}

			ul {
				list-style: none;
				display: flex;
				flex-direction: column;
				gap: 15px;

				li {
					display: flex;
					justify-content: space-between;
					align-items: center;

					.item {
						display: flex;
						align-items: center;
						gap: 10px;
						position: relative;

						img {
							width: 40px;
							height: 40px;
							border-radius: 50%;
							object-fit: cover;
						}

						.green-online {
							width: 10px;
							height: 10px;
							border-radius: 50%;
							background-color: limegreen;
							position: absolute;
							top: 0;
							left: 30px;
						}

						span {
							color: var(--textColor);
							font-size: 14px;
							margin: 0;
						}

						.detail {
							font-size: 11px;
							color: var(--textColorSoft);
						}

						.date {
							font-size: 12px;
						}
					}

					.actions {
						display: flex;
						align-items: center;
						gap: 10px;

						button {
							padding: 5px 10px;
							color: white;
							border: none;
							outline: none;
							border-radius: 2px;
							cursor: pointer;

							&:first-child {
								background: #5271ff;
							}

							&:last-child {
								background: #f0544f;
							}
						}
					}
				}
			}
		}
	}
}
